<div class="zone">
  {{zoneName}}<i class="fa fa-caret-down"></i>
</div>
<div class="basics">
  {{#if hasMultipleSources}}
  <div class="source">
    <div class="label">Source</div>
    <div class="button off-button{{#if isOff}} disabled{{/if}}">
      <i class="fa fa-power-off"></i> Off
    </div>
    <div class="select">
      {{#if sourceName}}
      {{sourceName}}
      {{else}}
      Choose a Source
      {{/if}}
      <i class="fa fa-caret-down"></i>
    </div>
  </div>
  {{/if}}
  {{#if hasVolumeControls}}
  <div class="volume">
    <div class="label">Volume</div>
    <div class="controls">
      <div class="button-container">
        <div class="button mute-button{{#if isOff}} disabled{{/if}}">
          {{#if isMuted}}
          <i class="fa fa-volume-up"></i>
          {{else}}
          <i class="fa fa-volume-off"></i>
          {{/if}}
        </div>
      </div>
      <div class="control"></div>
    </div>
  </div>
  {{/if}}
</div>
<div class="source">
  {{#if metadata}}
  <div class="metadata">
    {{#with metadata}}
    {{#if source}}<div class="src">{{source}}</div>{{/if}}
    {{#if title}}<div class="title">{{title}}</div>{{/if}}
    {{#if subtitle}}<div class="subtitle">{{subtitle}}</div>{{/if}}
    {{/with}}
  </div>
  {{/if}}
  <div class="controls">
    {{#if isPlaying}}
    <div class="button pause-button">
      <i class="fa fa-pause"></i>
    </div>
    {{/if}}
    {{#if isPaused}}
    <div class="button play-button">
      <i class="fa fa-play"></i>
    </div>
    {{/if}}
  </div>
</div>
