{{#each categories}}
<div class="category" data-id="{{id}}">
  <div class="header">
    <i class="fa fa-{{icon}} icon"></i> {{title}}
  </div>
  <div class="category-contents">
    {{#each contents}}
    <div class="shortcut{{#if important}} important{{/if}}{{#if link}} link{{/if}}" data-id="{{id}}">
      <div class="shortcut-body">
        <i class="fa fa-{{icon}} icon"></i>
        <i class="fa fa-refresh fa-spin fa-fw busy"></i>
        <div class="shortcut-text">
          {{title}}
          {{#if link}}<i class="fa fa-chevron-right"></i>{{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
