<ul class="alerts">
  {{#each alerts}}
  <li class="level-{{level}}" data-id="{{id}}">
    <i class="fa fa-warning"></i> {{description}}
  </li>
  {{/each}}
</ul>

{{#if precipitation}}
{{#with precipitation}}
<div class="precip">
  <i class="wi wi-raindrops"></i>
  {{#if rate}}
  <div class="precip-stat rate">
    <div class="name">Current Rate</div>
    <div class="value">{{rate}}</div>
  </div>
  {{/if}}
  {{#if qty}}
  <div class="precip-stat quantity">
    <div class="name">Last 24 Hours</div>
    <div class="value">{{qty}}</div>
  </div>
  {{/if}}
</div>
{{/with}}
{{/if}}

{{#if forecast}}
<div class="narrative">{{forecast}}</div>
{{/if}}

<ul class="conditions">
  {{#each conditions}}
  <li>
    <div class="name">{{name}}</div>
    <div class="value">{{{value}}}</div>
    <div class="sub">{{sub}}</div>
  </li>
  {{/each}}
</ul>
