<div class="section clickable">
  <div class="title">
    <div class="right">
      <i class="wi {{conditionIcon}}"></i>
    </div>
    {{temperature}}&deg;
    <span class="minor">&bull;</span>
    {{conditionName}}
  </div>
</div>
{{#each alerts}}
<div class="section clickable alert" data-id="{{id}}">
  <i class="fa fa-warning"></i> {{description}}
</div>
{{/each}}
{{#if precipitation}}
{{#with precipitation}}
<div class="section clickable description">
  <span class="minor">Precip:</span>
  <span>&nbsp;</span>
  {{#if rate}}
  {{rate}} <span class="minor">now</span>
  <span>&nbsp;</span>
  {{/if}}
  {{#if qty}}
  {{qty}} <span class="minor">over last 24 hours</span>
  {{/if}}
</div>
{{/with}}
{{/if}}
{{#if nowNarrative}}
<div class="section description">{{nowNarrative}}</div>
{{/if}}
{{#if today}}
<div class="section clickable description">
  {{#with today}}
  <span class="normal-weight">Today:</span>
  <span>&nbsp;</span>
  <i class="wi {{conditionIcon}} minor"></i>
  {{#if ../todayNarrative}}
  {{else}}
  {{conditionName}}
  {{/if}}
  <span>&nbsp;</span>
  <i class="wi wi-direction-up minor"></i> {{highTemperature}}&deg;
  <i class="wi wi-direction-down minor"></i> {{lowTemperature}}&deg;
  {{/with}}
  {{#if todayNarrative}}
  <div>{{todayNarrative}}</div>
  {{/if}}
</div>
{{/if}}
