<div class="section clickable">
  <div class="title">
    <div class="right">
      <i class="wi {{conditionIcon}}"></i>
    </div>
    {{temperature}}&deg;
    <span class="minor">&bull;</span>
    {{conditionName}}
  </div>
</div>
{{#each alerts}}
<div class="section clickable alert" data-id="{{id}}">
  <i class="fa fa-warning"></i> {{description}}
</div>
{{/each}}
{{#if today}}
<div class="section clickable description">
  {{#with today}}
  <span class="minor">Today:</span>
  <span>&nbsp;</span>
  <i class="wi {{conditionIcon}} minor"></i> {{conditionName}}
  <span>&nbsp;</span>
  <i class="wi wi-direction-up minor"></i> {{highTemperature}}&deg;
  <i class="wi wi-direction-down minor"></i> {{lowTemperature}}&deg;
  {{/with}}
</div>
{{/if}}
