<div class="current">
  {{#if camera}}
  <img class="camera" src="{{camera}}">
  {{/if}}
  <div class="basics">
    <div class="condition">
      <div class="icon"><i class="wi {{conditionIcon}}"></i></div>
      <div class="name">{{conditionName}}</div>
    </div>
    <div class="temperature">
      <span class="value">{{temperature}}&deg;</span>
    </div>
    <div class="humidity">
      <span class="value">{{humidity}}%</span>
      <span class="label">humidity</span>
    </div>
  </div>
</div>

<div class="forecasts">
<!--  <ul class="select">
    <li data-id="hourly">Hourly</li>
    <li data-id="daily" class="active">Daily</li>
  </ul> -->
  <div class="forecast">
  </div>
</div>
