<div class="current">
  {{#if camera}}
  <img class="camera" src="{{camera}}">
  {{/if}}
  <div class="basics">
    <div class="condition">
      <div class="icon"><i class="wi {{conditionIcon}}"></i></div>
      <div class="name">{{conditionName}}</div>
    </div>
    <div class="temperature">
      <span class="value">{{temperature}}&deg;</span>
    </div>
  </div>
</div>

<div class="pages">
  <ul class="select">
    {{#each pages}}
    <li data-id="{{id}}" {{#if active}}class="active"{{/if}}>{{name}}</li>
    {{/each}}
  </ul>
  <div class="page">
  </div>
</div>
