<div class="section">
  <div class="title">{{count}} device{{#if plural}}s are{{else}} is{{/if}} on</div>
</div>
{{#each controls}}
<div class="section control{{#if overflow}} overflow{{/if}}" data-id="{{id}}">
  {{#if busy}}
  <div class="busy">
    <i class="fa fa-refresh fa-spin fa-fw"></i>
  </div>
  {{else}}
  <div class="action off-button">Turn Off</div>
  {{/if}}
  <div class="name clickable">{{name}} <i class="fa fa-external-link"></i></div>
</div>
{{/each}}
{{#if overflowing}}
<div class="section overflow-disclosure">
  Show All <i class="fa fa-chevron-down"></i>
</div>
{{/if}}
